{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2,
                "proseWrap": "always"
            }
        },
        {
            "files": "*.css",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}